.item-details-bg {
    /* margin-top: -30px; */
    padding: 10px;
    background: url(../images/item_details_bg.png) no-repeat;
    /* background-size: cover; */
    background-size: 100% 100%;
}

.Item-details .sub-header {
    text-transform: none;
    color: #676370;
    color: var(--secondary-text);
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 3px;
    margin-bottom: 22px;
}

